#pragma code_page(65001)

1 ICON "app.ico"

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040404b0"
        BEGIN
            VALUE "CompanyName", "EFD Project\0"
            VALUE "FileDescription", "EFD 眼睛特徵提取與即時疲勞監控研究系統\0"
            VALUE "FileVersion", "1.0.0.0\0"
            VALUE "InternalName", "EFD\0"
            VALUE "LegalCopyright", "Copyright (C) 2026 EFD Project. All rights reserved.\0"
            VALUE "OriginalFilename", "EFD.exe\0"
            VALUE "ProductName", "EFD 眼睛疲勞監測系統\0"
            VALUE "ProductVersion", "1.0.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0404, 1200
    END
END

